[submodule "crates/box"]
	path = crates/box
	url = git@github.com:A3S-Lab/Box.git
[submodule "crates/code"]
	path = crates/code
	url = git@github.com:A3S-Lab/Code.git
[submodule "crates/lane"]
	path = crates/lane
	url = git@github.com:A3S-Lab/Lane.git
[submodule "crates/context"]
	path = crates/context
	url = git@github.com:A3S-Lab/Context.git
[submodule "crates/tools-core"]
	path = crates/tools-core
	url = git@github.com:A3S-Lab/Tools-Core.git
[submodule "crates/tools"]
	path = crates/tools
	url = git@github.com:A3S-Lab/Tools.git
[submodule "sdk/typescript"]
	path = sdk/typescript
	url = git@github.com:A3S-Lab/TypeScript-SDK.git
[submodule "sdk/python"]
	path = sdk/python
	url = git@github.com:A3S-Lab/Python-SDK.git
[submodule "homebrew-tap"]
	path = homebrew-tap
	url = git@github.com:A3S-Lab/homebrew-tap.git
[submodule "crates/search"]
	path = crates/search
	url = git@github.com:A3S-Lab/Search.git
[submodule "crates/cron"]
	path = crates/cron
	url = git@github.com:A3S-Lab/Cron.git
[submodule "crates/safeclaw"]
	path = crates/safeclaw
	url = git@github.com:A3S-Lab/SafeClaw.git
[submodule "crates/power"]
	path = crates/power
	url = git@github.com:A3S-Lab/Power.git
[submodule "crates/updater"]
	path = crates/updater
	url = git@github.com:A3S-Lab/Updater.git
