# dependencies
node_modules/

# generated site
out/
site_build/
.rspress/

# production
build/
dist/
*.tgz

# dotenv environment variable files
.env
.env*.local

# caches
.eslintcache
.cache
.a3s-test/
*.tsbuildinfo

# logs
logs/
*.log

# IDEs
.idea/

# misc
.DS_Store
*.pem
