# dependencies
node_modules/

# rspress
out/
.rspress/

# production
build/
dist/
doc_build/
*.tgz

# dotenv environment variable files
.env
.env*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# logs
logs/
*.log

# IDEs
.idea/

# misc
.DS_Store
*.pem
